/* Add CSS styling here */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

h1{
    font-size: 4rem;
}

header, section {
    padding: 4% 0;
}

.links {
    display: flex;
    justify-content: space-between;
}

.top-section {
    display: flex;
    justify-content: center;
}

.imagebutton {
    background-image: url("https://picsum.photos/600/400");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    height: 400px;
    width: 600px; 
 
}


footer {
    background-color: grey;
    padding: 20px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.row div {
    width: 30%;
    margin: 2% 0;
}

.portfolio-element {
    text-align: center;
}

button {
    background-color: white;
    color: black;
    border: black solid 1px;
    padding: 5px 10px;
    margin: 10px;
}

button:hover {
    background-color: black;
    color: white;
    border: white solid 1px;
}

button a {
    text-decoration: none;
    color: inherit;
}

@media(max-width: 800px) {

}

@media(max-width: 500px) {
    nav{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .links{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .links button{
        width: 40%;
        length: 100%;
        margin: 0;
    }
    .top-section {
        width: 80%;
        margin: 0 auto;
    }

    .row div{
        width: 40%;
    }
}
